body{
	background-color: #FBFBFF;
}

body,
.input{
	font:1em "Alegreya Sans", sans-serif;
	color: #918CB2;
}

.input{
	width: 100%;
}


a{
	text-decoration: none;
	border-bottom: 1px dashed #918CB2;
}

/*List Items*/
.list{
	background-color: #fff;
	margin: 15px auto;
	width: 100%;
	max-width: 500px;
	padding: 25px;
	border-radius: 3px;
	box-shadow: 5px 5px 3px #D8D8D8;
	box-sizing: border-box;
}

.list .header{
	font-family: "Alegreya Sans", sans-serif;
	margin: 0 0 10px 0;
}

#header-done{
	font-family: "Alegreya Sans", sans-serif;
	margin: 10px 0 0 0;
}

/* Items List */

.item-ul {
	margin:0;
	padding:0;
	list-style:none;
}

.item-ul li,
.item-add .input{
	border:0;
	border-bottom: 0.1em dashed #D8D8D8;
	padding: 15px 0;
}

.input:focus {
	outline:none;
}

/*Task completed button */
 
.mark-complete{
	display: inline-block;
	float: right;
	font-size: 0.7em;
	background-color: #F0F0F0;
	margin: 0 0 0 40px;
	padding: 3px 0;
	opacity: 0.75;
	color: green;
}

.mark-incomplete{
	display: inline-block;
	float: right;
	font-size: 0.7em;
	background-color: #F0F0F0;
	color: #918CB2;
	margin: 0 0 0 40px;
	padding: 3px 0;
	opacity: 0.75;
	color: blue;
}

.mark-complete:hover{
	color: green;
	opacity: 1;
}
.mark-incomplete:hover{
	opacity: 1;
	color: blue;
}

.delete{
	overflow: hidden;
	display: inline-block;
	float: right;
	font-size: 0.7em;
	background-color: #F0F0F0;
	color: #918CB2;
	margin: 0 0 0 40px;
	padding: 3px 0;
	opacity: 0.75;
	color: red;

}

.delete:hover{
	opacity: 1;
	color:red;
}

#doneElement{
		text-decoration: line-through;
}

/*Submit Button*/
.submit {
	background-color: #E5E1FF;
	padding: 5px 10px
	border: 1px solid #dddddd;
	width: 100%;
	box-shadow: 1px 1px;
	margin-top: 5px;
}

#footer{
	padding: 400px 0 50px 0;
	width: 100%;

}

